:root {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
}

.title-font {
  font-family: 'BBH Sans Hegarty', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* .open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */
